// nextflow.config

docker {
  enabled = true
  runOptions = '-u $(id -u):$(id -g)'
}

includeConfig 'config/containers.config'

params {
    // Parámetros por defecto para el pipeline
    genome_fasta   = 'genomas/genome.fa'
    gtf            = 'genomas/genes.gtf'
    star_index     = 'genomas/star_index'
    ref_flat       = 'genomas/genes.refFlat'
    mt_sequence    = 'chrM'  

    // === Parámetros Drop-seq Tools ===

    // TagBamWithReadSequenceExtended (Cell Barcode)
    tag1_base_range = '1-12'
    tag1_tag_name = 'XC'
    tag1_barcode_read = 1
    tag1_base_quality = 10
    tag1_num_bases_below_quality = 1

    // TagBamWithReadSequenceExtended (Molecular Barcode)
    tag2_base_range = '13-20'
    tag2_tag_name = 'XM'
    tag2_barcode_read = 1
    tag2_base_quality = 10
    tag2_num_bases_below_quality = 1

    // Adapter trimming
    smart_adapter_sequence = 'AAGCAGTGGTATCAACGCAGAGTGAATGGG'
    smart_adapter_num_bases = 5
    smart_adapter_mismatches = 0

    // PolyA trimming
    polyA_num_bases = 6
    polyA_mismatches = 0
    polyA_use_new_trimmer = true

    // Digital expression matrix

    num_core_barcodes = 2000            // Número estimado de células (core barcodes)
    read_mq = 10                        // Mínima calidad de mapeo
    edit_distance = 1                   // Distancia de edición de UMIs
    locus_function_list = 'CODING,UTR'  // Lista de funciones génicas para contar (ej: 'CODING,UTR')
    strand_strategy = 'SENSE'           // Estrategia de sentido: SENSE, ANTISENSE, BOTH
    cell_bc_file = null                 // Archivo con barcodes de células válidas (opcional)
    min_num_genes_per_cell = null       // Mínimo de genes por célula (opcional)
    min_num_transcripts_per_cell = null // Mínimo de transcritos por célula (opcional)
}


